<!DOCTYPE html>
<html>
<head>
　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　<title>whfearth</title>
  <link rel="stylesheet" href="/css/firstpage.css">
</head>
<body>
　      <div id="t">Have Fun</div>
			<div id="s">
				Teach Yourself Programming in Ten Years<br/>
			 	                             --Peter Norvig
			</div>
			<div id="l">
				<ul>
					<li><a href="/article.html">文章</a></li>
					<li><a href="/recommend.html">推荐</a></li>
					<li><a href="link.html">链接</a></li>
					<li><a href="me.html">关于我</a></li>
				</ul>
			</div>
		</div>
</body>
</html>